# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.11'

      - name: Install pipx and kalamine
        run: |
          python -m pip install --upgrade pip
          python -m pip install --user pipx
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pipx install kalamine

      - name: Build drivers
        run: |
          kalamine build ergoal.toml
          kalamine build ergoal-anglemod.toml
          kalamine build ergoal-mac.toml
          kalamine build ergoal-mac-anglemod.toml

      - name: Upload driver artifact
        uses: actions/upload-artifact@v4
        with:
          name: ergoal-layout-keyboard-drivers
          path: ./dist/


